#main {
  margin-top: 20px;
}

.nav-list {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0;
}

.nav-list-main {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0;
}

span.nav-toggle-icon{
  margin-right: 5px;
  font-size: 10px;
  top: -1px;
  color: #888;
}

.dimensions,.measures{
  padding-top: 10px;
  height: 250px;
  overflow-y: scroll ;
  border-right: 1px solid;
}

.dimensions {
  margin-left: 10px;
}

.dimensions a{
  text-decoration: none;
}

.nav>li>a {
  padding-top: 0;
}

#left-menu {
  border: 1px solid;
  padding: 0;
}

#left-menu hr {
  margin: 0;
  border-top: 1px solid;
}

#left-menu h4 {
  margin: 0;
  padding: 10px;;
  background-color: lightgrey;
}

.navbar {
  background-color: #eee;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar .btn {
  font-size: 17px;
}
#content {
  padding: 0;
  padding-top: 55px;
  position: relative;
  border: 1px solid;
}

#content-wrapper {
  height: 600px;
  overflow-y: scroll;
  padding: 5px 15px 0;
}

.myRect {
  margin: 0 0 5px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.myRect .col-xs-2{
  background-color: #e3e3e3;
}

.myRect .col-xs-10 {
  padding-top: 6px;
}

.columns ul {
  min-height: 30px;
}
.columns ul li {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 5px;
  background-color: green;
  padding: 3px;
  color: white;
  border-radius: 3px;
}

li.placeholder {
  background-color: #fff !important;
  color: #808080 !important;
  font-style: italic;
}

.section_result {
  margin-top: 30px;
  /*width: inherit;
  overflow-x: scroll;*/
}
button.close {
  margin-left: 5px;
  color: white;
  opacity: 0.5;
  font-weight: 500;
}

.close:focus, .close:hover {
  opacity: 0.9;
  color: white;
}


table,  th,  td{
  border: 1px solid black;
  border-collapse: collapse;
}
 th{
  padding: 10px;
}
